.App {
  text-align: center;
  padding: 30px;
}

.item {
  background-color: yellow;
  padding: 30px;
  width: 200px;
  height: 200px;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

.overlay {
  transition: bottom 1s cubic-bezier(0.58,-0.77, 0, 1.88);
  padding: 20px;
  color: white;
  background-color: tomato;
  position: absolute;
  bottom: -150px;
  width: 100%;
  border: 15px solid red;
  box-sizing: border-box;
  left: 0;
}

.item:hover .overlay {
  bottom: 0;
}

